flask==3.1.1
pandas==2.3.0
openpyxl==3.1.5
requests==2.31.0
waitress==3.0.2
gunicorn==21.2.0
python-dotenv
Flask-Login==0.6.3
Flask-Mail==0.9.1
gspread==5.12.4
google-api-python-client==2.112.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0 